.row
  .col-md-6.col-md-offset-3
    table.table.table-striped
      thead
        tr
          th Here are your search results for: {{search}}
        tbody
          tr(ng-repeat="result in results")
            td{{result.Text}}



